<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Typhoon Blogger", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "Users", users_path %></li>
            <% if signed_in? %>
            <li><%= link_to "Sign in", signin_path %></li>
            <li><%= link_to "Sign up", signup_path %></li>
            <% else %>
              <%= link_to "Sign out", signout_path, method: "delete" %>
            <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
